<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tencent.supersonic.chat.server.persistence.mapper.ChatSessionIdMapper">

    <resultMap id="ChatSessionIdDO"
               type="com.tencent.supersonic.chat.server.persistence.dataobject.ChatSessionIdDO">
        <id column="chat_id" property="chatId"/>
        <result column="agent_id" property="agentId"/>
        <result column="conversation_id" property="conversationId"/>
    </resultMap>

    <select id="getByChatId" resultMap="ChatSessionIdDO">
        select *
        from s2_chat_sessionid
        where chat_id = #{chatId}
        limit 1
    </select>

</mapper>
