target/
.idea/
.vscode/
logs/
log/
*.DS_Store
*.iml
*.bin
*.log
*.tar.gz
*.zip
*.lib
assembly/runtime/*
**/dist/
*.umi/
/assembly/deploy
/runtime
**/.flattened-pom.xml
chm_db/
__pycache__/
/dict
assembly/build/*-SNAPSHOT
**/node_modules/
webapp/supersonic-webapp
helloagents/
helloagents/CHANGELOG.md
.playwright-cli/
.helloagents/
output/
scripts/
**/.tmp*

*.class
bin/
benchmark/res/

**/.tmp*

*.class
bin/

*.bak.*

.venv/
.env
.run/